* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#header-img {
  width: 200px;
  margin-left: 25px;
} /*for logo*/
.nav-bar {
  float: right;
  margin-top: 50px;
} /*for navbar in general*/
.nav-link {
  margin-right: 75px;
} /*for navbar link*/

#form {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 5vw 0 5vw 0;
}
ul {
  margin-right: 5vw;
  margin-left: 15vw;
}

#video {
  align-content: center;
  margin: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 250px;
  margin-left: 250px;
}

.box1 {
  border: 1px solid black;
}
.box2 {
  border: 1px solid black;
}
.box3 {
  border: 1px solid black;
}

/* LARGE SCREEN */
@media (min-width: 1200px) {
  #header-img {
    width: 200px;
    margin-left: 25px;
  }
}

/* MEDIUM SCREEN */
@media (min-width: 992px) and (max-width: 1199px) {
  #header-img {
    width: 150px;
    margin-left: 20px;
  }
}

/* SMALL SCREEN */
@media (min-width: 768px) and (max-width: 991px) {
  #header-img {
    width: 100px;
    margin-left: 15px;
  }
}

/* EXTRA SMALL SCREEN */
@media (max-width: 767px) {
  #header-img {
    width: 50px;
    margin-left: 10px;
  }
}

/* SUPER EXTRA SMALL SCREEN */
@media (max-width: 479px) {
  #header-img {
    width: 25px;
    margin-left: 5px;
  }
}
